:root {
    --Blue: hsl(246, 80%, 60%);

    --Lightred-work: hsl(15, 100%, 70%);
    --Softblue-play: hsl(195, 74%, 62%);
    --Lightred-study: hsl(348, 100%, 68%);
    --Limegreen-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Softorange-selfcare: hsl(43, 84%, 65%);

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --Desaturatedblue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}


html 
{
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--Verydarkblue);
    color: white;
    padding: 2em 5%;
}
.dash {
    max-width: 500px;
    margin: 0 auto;
}

.dash_about {
    background-color: var(--Darkblue);
    border-radius: 1em;
}

.dash_about_cols{
    border-radius: 1em;
    padding: 1.7em;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    background-color: var(--Blue);
}

.dash_about_img {
    width: 21%;
}

.dash_about_report-for {
    color: var(--PaleBlue);
    margin-bottom: .5em;
    font-size: .85rem;
}

.dash_about_name {
    margin-top: 0;
    font-weight: lighter;
}

.dash_about_time {
    display: flex;
    justify-content: center;
    gap: 3.2em;
    padding: 1.7em;
}

.dash_about_time_p {
    margin: 0;
    color: var(--Desaturatedblue)
}

.dash_about_time_p.selected {
    color: var(--PaleBlue);
}

.dash_box {
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 1em;
    margin: 1.5em 0;
    margin-bottom: 3.7em;
}
.dash_box.work {
    background-color: var(--Lightred-work);
    background-image: url(./images/icon-work.svg);
}

.dash_box.play {
    background-color: var(--Softblue-play);
    background-image: url(./images/icon-play.svg);
}
.dash_box.study {
    background-color: var(--Lightred-study);
    background-image: url(./images/icon-study.svg);
}
.dash_box.exercise {
    background-color: var(--Limegreen-exercise);
    background-image: url(./images/icon-exercise.svg);
}
.dash_box.social {
    background-color: var(--Violet-social);
    background-image: url(./images/icon-social.svg);
}
.dash_box.self-care {
    background-color: var(--Softorange-selfcare);
    background-image: url(./images/icon-self-care.svg);
}

.dash_box_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25em;
    align-items: center;
}



.dash_box_inner {
    border-radius: 1em;
    position: relative;
    top: 2.2em;
    background-color: var(--Darkblue);
    padding: 1.5em;
}
.dash_box_title, .dash_box_more {
    margin: 0;
}

.dash_box_more {
    font-size: 1.7rem;
    margin-top: 0;
    color: var(--PaleBlue)
}

.dash_box_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash_box_time {
    margin: 0;
    font-weight: lighter;
    font-size: 1.75rem;
}

.dash_box_last-week {
    margin: 0;
    color: var(--PaleBlue);
    font-size: .8rem;
}

@media (min-width: 800px)
{
    .dash {
        max-width: initial;
        display: grid;
        grid-template-columns: repeat(4, 256px);
        grid-template-rows: repeat(2, 243px);
        gap: 1.6em;
    }



    .dash_about {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
    }
    
    .dash_about_cols {
        display: block;
        height: 68%;
        padding: 1.5em;
    }
    .dash_about_img {
        width: 34%;
    }

    .dash_about_name {
        font-size: 2rem;
    }


    .dash_about_time {
        display: block;
        padding: 1.5em;
    }

  
    .dash_about_time_p {
        margin: 1em;
        margin-top: 0;
    }

    
    .dash_box {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .dash_box_inner {
        height: 84%;
    }
   
    .dash_box.work {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .dash_box.play {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .dash_box.study {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .dash_box.exercise {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .dash_box.social {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .dash_box.self-care {
        grid-column: 4 / -1;
        grid-row: 2 / 3
    }

    .dash_box_main {
        display: block;
    }

    .dash_box_time {
        font-size: 3rem;
    }
    .dash_box_last-week {
        margin-top: .5em;
    }
}